.login-form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 200px;
}

.login-form .ws-login-password-input {
  margin-top: 20px;
}

.login-form button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-form a {
  text-align: center;
  margin-top: 10px;
}

.login-form h1 {
  color: #0F1212;
  text-transform: uppercase;
  text-align: center;
}